.card-top{
    position: relative;
    display: flex;
    flex-direction: row;
    background-clip: border-box;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
    background: #fff;
}
.card{
  padding: 20px;
  margin: 50px;
  flex-direction: row !important;
  width: 550px;
  height: 300px;
}
 .item img{
    width: 65px;
    margin-top: 15px;
}

.item a:hover{
    color:blue;
}
.card h5{
    position: absolute;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 25ch;
    left: 275px;
}
.card p{
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
    margin-top: 50px;
    width: 200px;
    height: 70px;
    position: absolute;
    top: 65px;
    left: 270px;
}
.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
}
.card img:hover{
    transition: 0.3s ease-in-out;
    transform:scale(1.1);
}
.btn-primary{
    margin-top: 220px;
    width: 360px !important;
    height: 50px;
}
strong{
    position: absolute;
    top: 135px;
    right:250px;
}